   html {
                font-size: 16px;
                margin: 0px;
                padding: 0px;
                width: 100vw; 
                height: 100vh;
              }

#purple{
    color:purple;
    background-color: black;
    height:25vh; 
    width:25vw;

}

#blue{
    color:blue;
    height:50vh;
    width:50vw;
}

#magenta{
    color:magenta;
    background:yellow;
    height:calc(2*25vh + 100px);
    width:calc(2*25vw + 100px);
}

#red{
    color: red;
    background: yellow;
    border: 5 px blue;
    height: calc(50vh - 15px);
    width: calc(50vw - 15px);
}

#green{
    color: white;
    background-color: green;
    height: 50vh;
    width: calc(0.5*100vh);
}

#orange{
    color: blueviolet;
    background-color: orange;
    height: calc(75vh/2);
    width: calc(75vw/2);
}