/*guardo per ogni dichiarazione la tripla (ID, classi/attributi, elementi)*/


nav#main-nav li p { color:red; }
/*(id=1, classi=0, elementi=cardinalitàDi{nav, li, p}=3)=(1,0,3)*/

#main-nav .active p { color:yellow; }
/*(1,1,1)*/

li #main-nav .active p { color:orangered; }
/*(1,1,2)*/

body nav#main-nav li p { color:blue; }
/*(1,0,4)*/

body #main-nav ul .active p { color:blueviolet} 
/*(1,1,3)*/

body #main-nav ul .active p { color: salmon} 
/*(1,1,3)*/

body #main-nav ul .active { color: gray} 
/*(1,1,2)*/

nav ul li.active p { color:green; }
/*(0,1,4)*/

/*Scelgo adesso quello che ha i val più alti(che rispetti la gerarchia HTML), senza val=0, fra tutti:
    - escludo RED: (1,0,3) ha uno 0
    - escludo BLUE "
    - escludo GREEN "
    - escludo ORANGERED: perché non rispetta gerarchia html
    - escludo YELLOW: non ha i val più alti di tutti escludendo quelli che hanno 0 in un elem
    - escludo BLUEVIOLET: è seguito da un'altro che ha gli stessi val (1,1,3): il salmon 
    - escludo GRAY: (1,1,2)<(1,1,3)
    - rimane SALMON
    */